# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# Streamlit secrets — QUAN TRỌNG
frontend/.streamlit/secrets.toml

# Firebase credentials
firebase-adminsdk*.json
*.json

# OS
.DS_Store
Thumbs.db

# Plan / docs nội bộ
plan.md
frontend/FE_plan.md
